# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Env
env/

# CDK
cdk.context.json
cdk/cdk.out

# User Definition
.idea
cdk/documents
cdk/src/main/resources/setup

# Proto
gameserverclient/src/proto/*.ts
gameserverclient/src/proto/*.js
